*.mp4 filter=lfs diff=lfs merge=lfs -text
**.mp4 filter=lfs diff=lfs merge=lfs -text
media/fonts/fonts.mp4 filter=lfs diff=lfs merge=lfs -text
media/aftenposten/brukerreise.mp4 filter=lfs diff=lfs merge=lfs -text
media/jordashjerte/jordashjerte.mp4 filter=lfs diff=lfs merge=lfs -text
media/aftenposten/intro.mp4 filter=lfs diff=lfs merge=lfs -text
